body{
    background-color: #2196f3;
}

.get-info {
    padding: 20px 20px;
    width: 300px;
    margin-left: 500px;
    margin-top: 200px;
}
p {
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
}

.input-box {
    margin-left: 50px;
    width: 200px;
    height: 30px;
    border: none;
    border: 1px solid;
    border-radius: 40px;
}

.btn {
	width: 25%;
	height: 30px;
    margin-left: 110px;
    margin-top: 20px;
	border: none;
	outline: none;
	background: white;
	border-radius: 40px;
	cursor: pointer;
    font-style: italic;
	font-size: 16px;
	font-weight: 600;
}

.return-to-home-page {
    margin-left: 600px;
}

.return-to-home-page a {
    color: black;
    font-weight: 600;
}